.banner {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fafbfc;
}

.banner img {
  width: 100%; /* Faz a imagem ocupar 100% da largura da div */
  height: 100%; /* Faz a imagem ocupar 100% da altura da div */
  object-fit: cover; /* Garante que a imagem cubra a área sem distorcer */
}

.banner p {
  color: #022144;
  font-size: 12px;
}
.banner h2 {
  color: #022144;
  font-size: 50px;
  font-weight: 500;
}
.banner span {
  font-weight: bold;
  color: #022144;
  font-size: 50px;
}

.banner div {
  padding: 0px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dark {
  background-color: #3a3939;
}
.dark h2 {
  color:#9fe812;
}
.dark p {
  color: #9fe812;
}
.dark span {
  color: #9fe812;
}